<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>4924275687-0u39gg9dstjtkgailccn36bf34euhfh3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.4924275687-0u39gg9dstjtkgailccn36bf34euhfh3</string>
	<key>API_KEY</key>
	<string>AIzaSyD-YqtxZ4UG4-r0Kc4kY0wCcku1nkNdP7s</string>
	<key>GCM_SENDER_ID</key>
	<string>4924275687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hamdi.Yummytest</string>
	<key>PROJECT_ID</key>
	<string>yummytest-2baef</string>
	<key>STORAGE_BUCKET</key>
	<string>yummytest-2baef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4924275687:ios:a46a765d2aa6e58ebe1b42</string>
</dict>
</plist>